<!DOCTYPE html>
<html>
<head>
 <meta name="keyword" content="Weather App, Show Weather, Get Weather Data, Display Weather" />
 <meta name="description" content="Show weather in my location, display weather in my location, view today's weather" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <link rel="stylesheet" type="text/css" href="../views/bootstrap.css" />
 <link rel="stylesheet" type="text/css" href="../views/weather.css" />
 <!--<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=" />-->
 <title> Weather </title>
</head>
<body>


 <script src="../libraries/jquery-3.1.1.min.js"></script>
 <script src="../libraries/bootstrap.js"></script>
 <script src="../libraries/angular.min.js"></script>

</body>
</html>
